{{ 'featured-collection-slider.css' | asset_url | stylesheet_tag }}

<script>
var sp_slider_autoplay = false;
if( {{ section.settings.autoplay }} == true ){
  sp_slider_autoplay = true;
}
</script>
<script src="{{ 'featured-collection-slider.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>

<div class="collection__title title-wrapper title-wrapper--no-top-margin page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
  {%- if section.settings.title != blank -%}
    <h2 class="title inline-richtext h1 font-body-bold{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {{ section.settings.title }}
    </h2>
  {%- endif -%}
  
  {%- if section.settings.view_all -%}
    <div class="view_all">
      <a
        href="{{ section.settings.collection.url }}"
        class="link underlined-link scroll-trigger animate--slide-in"
        aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title | escape }}"
      >
        {{ 'sections.featured_collection.view_all' | t }}
      </a>
    </div>
  {%- endif -%}
</div>

<div class="main-carousel page-width-desktop slider-component-desktop scroll-trigger animate--slide-in">
{% for product in section.settings.collection.products limit: 8 %}
  <div class="carousel-cell">
  {% render 'card-product',
    card_product: product,
    section_id: section.id,
    quick_add: 'standard'
  %}
  </div>
{% endfor %}
</div>

{% schema %}
{
  "name": "SP - Slider",
  "tag": "section",
  "class": "section sp_slider",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "checkbox",
      "id": "view_all",
      "label": "Show View All Button"
    },
    {
      "type": "header",
      "content": "Collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto scroll slider?"
    }
  ],
  "presets": [
    {
      "name": "SP - Slider"
    }
  ]
}
{% endschema %}
